body{
    background-image: url(green-png-44867.png);
    background-repeat:no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
}


div.container {
    text-align: center;
  }
  
  ul.myUL {
    display: inline-block;
    text-align: left;
  }


  